<div class="form-container">
  <form [formGroup]="ventaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="idVaca">Arete</label>
      <div class="autocomplete-container">
        <input 
          type="text" 
          id="idVaca" 
          formControlName="idVaca" 
          placeholder="Arete"
          (input)="filtrarAretes($event)">
        <div *ngIf="aretesFiltrados.length > 0 && mostrarSugerencias" class="suggestions-list">
          <div 
            class="suggestion-item" 
            *ngFor="let arete of aretesFiltrados" 
            (click)="seleccionarArete(arete)">
            {{arete}}
          </div>
        </div>
      </div>
      <div *ngIf="ventaForm.get('idVaca')?.errors?.['required'] && ventaForm.get('idVaca')?.touched" class="error-message">Este campo es requerido</div>
    </div>

    <div class="form-group">
      <label for="precioVenta">Precio de Venta</label>
      <input 
        type="number" 
        id="precioVenta" 
        formControlName="precioVenta" 
        placeholder="pesos sin signo">
      <div *ngIf="ventaForm.get('precioVenta')?.errors?.['required'] && ventaForm.get('precioVenta')?.touched" class="error-message">Este campo es requerido</div>
      <div *ngIf="ventaForm.get('precioVenta')?.errors?.['min']" class="error-message">El precio debe ser mayor a 0</div>
    </div>

    <button type="submit" class="submit-btn">Registrar Venta</button>
  </form>
<br>
  <button class="consultar-costo-btn" (click)="consultarCosto()">Consultar Gastos</button>

  <div *ngIf="costoConsultado !== null" class="resultado-costo">
    <h4>Gastos: {{costoConsultado | currency}}</h4>
    <p>gastos de adquisicion: {{ costoAdquisicion | currency }}</p>
    <p>gastos de alimentos: {{ costoAlimentos | currency }}</p>
    <p>gastos de medicamentos: {{ costoMedicamentos | currency }}</p>
  </div>
</div>

<div class="modal" [ngClass]="{'is-active': isModalActive}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="box">
      <h4 class="title">Detalles de la Venta</h4>
      <p><strong>Ganancia:</strong> {{ ganancia | currency }}</p>
      <p><strong>Precio de Venta:</strong> {{ precioVenta | currency }}</p>
      <p><strong>Gasto de Adquisición:</strong> {{ costoAdquisicion | currency }}</p>
      <p><strong>Gastos de Alimentos:</strong> {{ costoAlimentos | currency }}</p>
      <p><strong>Gastos de Medicamentos:</strong> {{ costoMedicamentos | currency }}</p>
      <p><strong>Gastos Totales:</strong> {{ costoConsultado | currency }}</p>
      <button class="button is-primary" (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</div>
